<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title></title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/song">Songs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/album">Albums</a>
    </li>
  </ul>
</nav>
<div class="jumbotron text-center">

<h1>Album Charts</h1>
<h2 th:text="${numberOfTopTens}"></h2>
<br />

</div>


<div class="container">

<p>This site will contain information about album charts.</p>

<table class="table table-striped">
       <thead>
           <tr>
               <th>Artist</th>
               <th>Type</th>
               <th>Song</th>
               <th>image</th>
           </tr>  
       </thead>
       <tbody>
           <tr th:each ="topten: ${toptens}">
               <td th:text="${topten.song}">Taylor</td>
               <td><img src="../static/img/Aitch.jpg" th:src="@{/img/} + ${topten.image}"></img></td>
           </tr>
       </tbody>
</table>

</div>

</body>
</html>
