<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
	<!-- Custom Styles  -->

<title></title>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="/completed>">Completed Tasks</a>
    </li>
  </ul>
</nav>

<div class="jumbotron text-center"
style ="height:200px;
        background:transparent url('/img/sevendwarfs.png') no-repeat center center /cover"
        >


<h1>Completed Tasks</h1>
<h2 th:text="${message}"> </h2>
<br />

</div>


<div class="container">

<p></p>
<table class="table table-striped">
       <thead>
           <tr>
                <th>Author</th>
               <th>Task</th>
               <th>Priority</th>
               <th>Status</th>
               <th>Due Date</th>
           </tr>  
       </thead>
       <tbody>
           <tr th:each ="todo2: ${todo2}">
               <td th:text="${todo2.author}">Taylor</td>
               <td th:text="${todo2.task}">Taylor</td>
               <td th:text="${todo2.priority}">Taylor</td>
               <td th:text="${todo2.status}">Taylor</td>
               <td th:text="${todo2.dueDate}">Taylor</td>
           </tr>
       </tbody>
</table>

</div>

</body>
</html>