<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<!-- Custom Styles  -->

<title></title>
</head>

<body>
	<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link" href="/">Home</a>
			</li>
		</ul>
	</nav>


	<h1></h1>
	<h2></h2>
	<br />

	<div>

	<div class="container">
	
		<div class="jumbotron text-center"
			style="height: 300px; background: transparent url('/img/error.jpg') no-repeat center center/cover">


		</div>
</body>
</html>